{% extends 'home/base.html' %} {% block content %} {% load static %} <link
href="{% static "css/carro.css" %}" rel="stylesheet"/>
<br />
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-5">
    <div class="box-element">
      <form method="POST" id="form">
        {% csrf_token %}
          <hr />
          <h2>Contacto para Proveedores</h2>
          <p>Si vendes insumos ferreteros y deseas abastecernos al por mayor, llena el formulario y te contacteremos!</p>
          <hr />
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="nombre"
              placeholder="Nombre de contacto"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="email"
              name="email"
              placeholder="Email"
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="fono"
              placeholder="Número de contacto.."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="nombreEmpresa"
              placeholder="Nombre de tu empresa"
            />
          </div>
          <br />
          <div class="form-field">
            <textarea
              placeholder="¿Qué te gustaría vender con nosotros?"
              id="w3review"
              name="mensaje"
              rows="4"
              cols="51"
            ></textarea>
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          class="btn btn-success btn-block"
          type="submit"
          value="Enviar mensaje"
        />
      </form>
    </div>
  </div>
</div>
{% endblock content%}
