{% extends 'home/base.html' %} {% block content %}
<h1>carro de compras</h1>

<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="/catalogo"
        >&#x2190; Seguir comprando</a
      >

      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong>999</strong></h5>
          </th>
          <th>
            <h5>Total:<strong> $99</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px;"
              class="btn btn-success"
              href="#"
              >Checkout</a
            >
          </th>
        </tr>
      </table>
    </div>

    <br />
    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2;"></div>
        <div style="flex: 2;"><strong>Item</strong></div>
        <div style="flex: 1;"><strong>Price</strong></div>
        <div style="flex: 1;"><strong>Quantity</strong></div>
        <div style="flex: 1;"><strong>Total</strong></div>
      </div>
      {% for i in productos %}
      <div class="cart-row">
        <div style="flex: 2;">
          <img
            class="row-image"
            src="https://herramientas.cl/imagenes/productos/51233.jpg"
          />
        </div>
        <div style="flex: 2;"><p>{{i.producto.descripcion}}</p></div>
        <div style="flex: 1;"><p>${{i.producto.precio}}</p></div>
        <div style="flex: 1;">
          <p class="quantity">{{i.cantidad}}</p>
          <div class="quantity">
            <img
              data-product="{{i.product.id}}"
              data-action="add"
              class="chg-quantity update-cart"
              src="https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt8/3+arrow-up.png"
            />

            <img
              data-product="{{item.product.id}}"
              data-action="remove"
              class="chg-quantity update-cart"
              src="https://stepswithcode.s3-us-west-2.amazonaws.com/m1-prt8/2+arrow-down.png"
            />
          </div>
        </div>
        <!-- <div style="flex: 1;"><p>${{i.get_total|floatformat:2}}</p></div> -->
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content%}
