{% extends 'home/base.html' %} {% block content %} {% load static %} <link
href="{% static "css/carro.css" %}" rel="stylesheet"/>
<h1>carro de compras</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" href="/catalogo"
        >&#x2190; Seguir comprando</a
      >

      <br />
      <br />
      <table class="table">
        <tr>
          <th>
            <h5>Total productos: <strong>{{orden.get_items_carro}}</strong></h5>
          </th>
          <th>
            <h5>Valor total:<strong> ${{orden.get_total_carro}}</strong></h5>
          </th>
          <th>
            <a
              style="float: right; margin: 5px;"
              class="btn btn-success"
              href="#"
              >Checkout</a
            >
          </th>
        </tr>
      </table>
    </div>

    <br />
    <div class="box-element">
      <div class="cart-row">
        <div style="flex: 2;"></div>
        <div style="flex: 2;"><strong>Producto</strong></div>
        <div style="flex: 1;"><strong>Precio</strong></div>
        <div style="flex: 1;"><strong>Cantidad</strong></div>
        <div style="flex: 1;"><strong>Total</strong></div>
      </div>
      {% for i in productos %}
      <div class="cart-row">
        <div style="flex: 2;">
          <img
            class="row-image"
            src="https://herramientas.cl/imagenes/productos/51233.jpg"
          />
        </div>
        <div style="flex: 2;"><p>{{i.producto.descripcion}}</p></div>
        <div style="flex: 1;"><p>${{i.producto.precio}}</p></div>
        <div style="flex: 1;">
          <p class="quantity">{{i.cantidad}}</p>
          <div class="quantity">
            <img
              data-producto="{{i.producto.id_producto}}"
              data-accion="agregar"
              class="chg-quantity actualizar-carro"
              src="{% static 'imagenes/arrow-up.png' %}"
            />

            <img
              data-producto="{{i.producto.id_producto}}"
              data-accion="eliminar"
              class="chg-quantity actualizar-carro"
              src="{% static 'imagenes/arrow-down.png' %}"
            />
          </div>
        </div>
        <div style="flex: 1;"><p>${{i.get_total}}</p></div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content%}
